// $primary: #30c39e;

// %transition {
//     transition: all .3s ease;
// }

// .btn {
//     padding: 6px 12px;
//     background: $primary;
//     @extend %transition;
//     &:hover {
//         background: darken($primary, 5%);
//     }
//     &:active {
//         background: darken($primary, 10%);
//     }
// }

// 共用樣式_框架

html, body {
	font-family: 'Roboto';
	font-size: 65%;
}

#content {
	padding: 8px 0;
}

.wrapper {
    width: 100%;
  }

.container {
		max-width: 1024px;
    margin: 0 auto;
    background: #fff;
}

// Media Query

@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:375px){
    @content;
  }
}

// 共用樣式_排版

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.grid2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

// 共用樣式_寬度

// 共用樣式_間距

.gap8 {
	gap: 8px;
}

.gap16 {
	gap: 16px;
}

// 共用樣式_定位

.relative {
	position: relative;
}

// 共用樣式_陰影

.shadowOP8 {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 8%);
}

// 元件_brandHeader

.brandHeader {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 20px 24px;
	font-size: 1.4rem;
	z-index: 2;

	.userImage {
		width: 32px;
		height: 32px;
		background: #ccc;
		border-radius: 50%;
	}
}

// 元件_navigation

.navigation {
	position: sticky;
	top: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px 24px;
	font-size: 1.4rem;
	gap: 24px;
	z-index: 1;

	.userImage {
		width: 32px;
		height: 32px;
		background: #ccc;
		border-radius: 50%;
	}
}

// 元件_content

.content {
	padding: 8px 32px;
}

.homepage {
	grid-template-columns: 1fr 300px;
	@include pad{
		grid-template-columns: 1fr;
  }
}


// 元件_footer

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 172px;
  background-color: #f2f2f2;
}