*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    list-style-type: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// $primary: #30c39e;

// %transition {
//     transition: all .3s ease;
// }

// .btn {
//     padding: 6px 12px;
//     background: $primary;
//     @extend %transition;
//     &:hover {
//         background: darken($primary, 5%);
//     }
//     &:active {
//         background: darken($primary, 10%);
//     }
// }

// 色彩引用

$primary: #e51d88;
$secondary: #ff73c1;
$grey-dark: #111111;
$grey-medium: #969696;
$grey-light: #adadad;
$border-light: #f1f1f1;
$border-medium: #d0d0d0;
$bg-light-grey: #f7f7f7;
$bg-light-pink: #fcedf4;
$bg-dropdown: #f9f9f9;

// 共用樣式_框架

html,
body {
    font-family: "Roboto";
    font-size: 65%;
}

#content {
    padding: 8px 0;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    background: #fff;
}

// Media Query

@mixin pad {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 375px) {
        @content;
    }
}

// 共用樣式_排版

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

// 共用樣式_寬度

// 共用樣式_間距

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

// 共用樣式_定位

.relative {
    position: relative;
}

// 共用樣式_陰影

.shadowOP8 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 8%);
}

// 元件_brandHeader

.brandHeader {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 24px;
    font-size: 1.4rem;
    z-index: 2;

    .userImage {
        width: 32px;
        height: 32px;
        background: #ccc;
        border-radius: 50%;
    }
}

// 元件_navigation

.navigation {
    position: sticky;
    top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 24px;
    font-size: 1.4rem;
    gap: 24px;
    z-index: 1;

    .userImage {
        width: 32px;
        height: 32px;
        background: #ccc;
        border-radius: 50%;
    }
}

// 元件_content

.homepage {
    grid-template-columns: 1fr 300px;
    @include pad {
        grid-template-columns: 1fr;
    }
}

// 元件_footer

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 172px;
    background-color: #f2f2f2;
}

//後臺管理css
//後臺測試好再上

// .bg {
//     position: absolute;
// }
// .bg2 {
//     position: absolute;
//     right: 0;
// }

// .backstage {
//     display: flex;
//     justify-content: center;
//     padding-top: 12px;
//     font-size: 24px;
// }

// .userBox {
//     display: flex;
//     font-size: 20px;
//     max-width: 370px;
//     margin: 0 auto;
//     background: #fff;
//     margin-top: 20px;
//     align-items: center;
//     justify-content: center;
//     border-radius: 4px;
//     background-color: $bg-light-pink;
//     box-shadow: 0px 4px 16px 3px rgba(0, 0, 0, 0.16);
//     h3 {
//         padding: 3px 15px 5px 15px;
//     }
//     //元件_後台按鈕
//     .btn {
//         border-radius: 4px;
//         margin-right: 5px;
//         border: 1px solid rgba(0, 0, 0, 0.56);
//         font-size: 20px;
//         &-update {
//             background-color: #199e4ed0;
//         }
//         &-delete {
//             background-color: red;
//         }
//         &-lock {
//             background-color: $secondary;
//         }
//     }
// }

.homepage {
    grid-template-columns: 1fr 300px;
    @include pad {
        grid-template-columns: 1fr;
    }
}

// 元件_footer

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 172px;
    background-color: #f2f2f2;
}

@import "./login.scss";
