html,
body {
  font-family: "Roboto";
  font-size: 65%;
}

#content {
  padding: 8px 0;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background: #fff;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gap8 {
  gap: 8px;
}

.gap16 {
  gap: 16px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.shadowOP8 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.brandHeader {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 24px;
  font-size: 1.4rem;
  z-index: 2;
}
.brandHeader .userImage {
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 50%;
}

.navigation {
  position: sticky;
  top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 24px;
  font-size: 1.4rem;
  gap: 24px;
  z-index: 1;
}
.navigation .userImage {
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 50%;
}

.homepage {
  grid-template-columns: 1fr 300px;
}
@media (max-width: 768px) {
  .homepage {
    grid-template-columns: 1fr;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 172px;
  background-color: #f2f2f2;
}

.h3type {
  border-left: 4px solid #ff73c1;
  padding-left: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
}

.homepage {
  grid-template-columns: 1fr 300px;
}
@media (max-width: 768px) {
  .homepage {
    grid-template-columns: 1fr;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 172px;
  background-color: #f2f2f2;
}

.login {
  margin-right: -42.5%;
}
.login .container {
  border-radius: 8px;
  background: #fff;
  /* shadow 1 */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  width: 50%;
  margin-top: 49px;
  padding: 32px 24px 88px 24px;
}
.login .container .title {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 16px;
}
.login .container .inputContainer {
  padding-top: 16px;
}
.login .container .inputContainer img {
  position: absolute;
  top: 37.5%;
  left: 5px;
}
.login .container .inputContainer input {
  width: 85%;
  border: none;
  padding: 13px 32px 13px;
  font-size: 14px;
  background-color: #f7f7f7;
}
.login .container button {
  position: absolute;
  right: 24px;
  bottom: 32px;
  font-size: 14px;
  color: #fff;
  background: #ff468f;
  width: 104px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .login .container {
    margin-right: 37.5%;
    width: 50%;
  }
}

.userPage {
  margin-left: 32px;
  margin-right: 32px;
}
.userPage .section1-box1 {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.userPage .section1 .avatar {
  height: 104px;
  width: 104px;
  margin-left: 24px;
  margin-right: 24px;
}
.userPage .section1 .imgIcon {
  position: absolute;
  left: 30px;
  bottom: 23px;
}
.userPage .section1 .updateImg {
  font-size: 14px;
  background-color: white;
  color: #e51d88;
  padding: 10px 10px 10px 30px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 50px;
  border: 1px solid #d0d0d0;
  margin-left: 24px;
}
.userPage .section1-box2 {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 24px;
  margin-left: 24px;
  font-size: 16px;
}
.userPage .section1-box2 p {
  font-weight: 700;
}
.userPage .section1-box2 input {
  width: 100%;
  padding: 14px 8px 14px 0px;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  background: #f7f7f7;
}
.userPage .section1-box2 button {
  color: white;
  margin-left: 45%;
  border-radius: 50px;
  border: none;
  background: #e51d88;
  padding: 10px 32px 10px 32px;
}/*# sourceMappingURL=style.css.map */