*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Roboto";
  font-size: 65%;
}

#content {
  padding: 8px 0;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background: #fff;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gap8 {
  gap: 8px;
}

.gap16 {
  gap: 16px;
}

.relative {
  position: relative;
}

.shadowOP8 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.brandHeader {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 24px;
  font-size: 1.4rem;
  z-index: 2;
}
.brandHeader .userImage {
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 50%;
}

.navigation {
  position: sticky;
  top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 24px;
  font-size: 1.4rem;
  gap: 24px;
  z-index: 1;
}
.navigation .userImage {
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 50%;
}

.homepage {
  grid-template-columns: 1fr 300px;
}
@media (max-width: 768px) {
  .homepage {
    grid-template-columns: 1fr;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 172px;
  background-color: #f2f2f2;
}

.homepage {
  grid-template-columns: 1fr 300px;
}
@media (max-width: 768px) {
  .homepage {
    grid-template-columns: 1fr;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 172px;
  background-color: #f2f2f2;
}

.login .container {
  border-radius: 8px;
  background: #fff;
  /* shadow 1 */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  width: 30%;
  margin-top: 49px;
  padding: 32px 24px 88px 24px;
}
.login .container .title {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 16px;
}
.login .container .title p {
  border-left: 4px solid #ff73c1;
  padding-left: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
}
.login .container .inputContainer {
  padding-top: 16px;
}
.login .container .inputContainer img {
  position: absolute;
  top: 37.5%;
  left: 5px;
}
.login .container .inputContainer input {
  width: 100%;
  border: none;
  padding: 13px 32px 13px;
  font-size: 14px;
  background-color: #f7f7f7;
}
.login .container button {
  position: absolute;
  right: 24px;
  bottom: 32px;
  font-size: 14px;
  color: #fff;
  background: #ff468f;
  width: 104px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .login .container {
    width: 75%;
  }
}/*# sourceMappingURL=style.css.map */