//login頁面
.login {
    margin: 0 auto;
    margin-top: 49px;
    margin-bottom: 57px;
    border-radius: 8px;
    background: #fff;
    /* shadow 1 */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
    width: 33%;
    padding: 32px 24px 88px 24px;
    h3 {
        font-weight: 700;
    }
    .icon {
        position: absolute;
        top: 18px;
        left: 5px;
    }
    input {
        width: 85%;
        border-radius: 4px;
        border: 1px solid $border-light;
        background: $bg-light-grey;
        color: $grey-light;
        font-size: 14px;
        padding: 8px 8px 8px 32px;
        margin-top: 16px;
    }
    button {
        position: absolute;
        right: 36px;
        bottom: 32px;
        margin-top: 16px;
        padding: 13px 38px 13px 38px;
        border: none;
        border-radius: 4px;
        background: #ff468f;

        font-size: 14px;
        color: #fff;
    }
}

@media (width <= 768px) {
    .login {
        width: 50%;
    }
}

@media (width <= 420px) {
    .login {
        width: 70%;
        button {
            right: 18px;
        }
    }
}
