@charset "UTF-8";
html,
body {
  font-family: "Roboto";
  font-size: 65%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f0f0f0;
  display: grid;
  grid-template-rows: 56px 48px 1fr 172px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-rows: 56px 1fr 172px;
  }
}

#content {
  padding: 16px 24px;
}

.contentScroll {
  width: 100%;
  overflow: hidden auto;
}

.container {
  display: table;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

.padLR-32px {
  padding-left: 32px;
  padding-right: 32px;
}

.flex {
  display: flex;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.homepage {
  grid-template-columns: 1fr 300px;
  grid-column-gap: 16px;
}
@media (max-width: 768px) {
  .homepage {
    grid-template-columns: 1fr;
  }
}
.homepage .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.homepage .rightPanel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .homepage .rightPanel .flexColumn {
    flex-direction: row;
    gap: 8px;
  }
}

.gap8 {
  gap: 8px;
}

.gap16 {
  gap: 16px;
}

.relative {
  position: relative;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute {
  position: absolute;
}

.cursor {
  cursor: pointer;
}

.shadowHeader {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

.shadowOP16 {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}

.bottom_border {
  border-bottom: 1px solid #ececec;
}

.R_border {
  border-right: 1px solid #ececec;
}

.paginationWrapper {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.paginationWrapper .paginationItem {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #e51d88;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.paginationWrapper .paginationItem:hover, .paginationWrapper .paginationItem:active {
  background: #d90e7b;
}
.paginationWrapper .paginationItem.solid {
  background: white;
  border: 1px solid #dadada;
  color: #969696;
}
.paginationWrapper .paginationItem.solid:hover {
  background: #fafafa;
}
.paginationWrapper .arrow {
  transform: rotate(-90deg);
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.paginationWrapper .arrow:hover, .paginationWrapper .arrow:active {
  background: #f0f0f0;
}
.paginationWrapper .arrow svg path {
  fill: #adadad;
}
.paginationWrapper .arrow.right {
  transform: rotate(-270deg);
}

#header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.brandHeader {
  width: calc(100% - 32px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  font-size: 1.4rem;
  background: white;
  border-bottom: 1px solid #dadada;
}
.brandHeader .userImage {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 50%;
  background: url(../images/userImage.jpg) no-repeat center/cover;
}
.brandHeader .userName:hover, .brandHeader .userName:active {
  cursor: pointer;
  color: #e51d88;
}
.brandHeader .userName.hidden {
  display: block;
}
@media (max-width: 768px) {
  .brandHeader .userName.hidden {
    display: none;
  }
}
.brandHeader img {
  width: 192px;
  height: auto;
}
.brandHeader .menu {
  position: relative;
  display: none;
}
@media (max-width: 768px) {
  .brandHeader .menu {
    display: block;
  }
}
.brandHeader .menu .iconWrapper {
  width: 40px;
  height: 40px;
}
.brandHeader .menu .iconWrapper img {
  width: 24px;
  height: 24px;
}

.navigationPanel {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 8px 0;
  background: white;
  z-index: 2;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  display: none;
}
@media (max-width: 768px) {
  .navigationPanel {
    display: block;
  }
}

.navigationItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-size: 1.6rem;
  color: #969696;
  border-bottom: 1px solid #ececec;
}
.navigationItem:hover, .navigationItem:active {
  background: #f0f0f0;
}
.navigationItem a {
  cursor: pointer;
  text-decoration: none;
  color: #969696;
}
.navigationItem a:hover, .navigationItem a:active {
  color: #e51d88;
}
.navigationItem a.active {
  font-weight: bold;
  color: #e51d88;
}

.navigationPanel.show {
  transform: translateX(0%);
}

.bannerCarousel {
  position: relative;
  width: 100%;
  height: 400px;
}
@media (max-width: 768px) {
  .bannerCarousel {
    height: 200px;
  }
}
.bannerCarousel .bannerImg {
  width: 100%;
  height: 100%;
  background: url(../images/banner/img01.jpg) no-repeat center;
  background-size: cover;
  filter: contrast(120%);
}
.bannerCarousel .dotWrapper {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.72));
  gap: 12px;
}
.bannerCarousel .dotWrapper .dot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: white;
  margin-top: 16px;
  cursor: pointer;
}
.bannerCarousel .dotWrapper .dot.active {
  background: #e51d88;
}

.navigation {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 24px;
  font-size: 1.4rem;
  gap: 24px;
  background: white;
  border-bottom: 1px solid #dadada;
}
.navigation a {
  color: #111111;
  text-decoration: none;
}
.navigation a:hover, .navigation a:active {
  cursor: pointer;
  color: #e51d88;
}
.navigation a.active {
  color: #e51d88;
  font-weight: bold;
}

.navigation.hidden {
  display: flex;
}
@media (max-width: 768px) {
  .navigation.hidden {
    display: none;
  }
}

.title {
  display: flex;
  width: 100%;
  height: 48px;
  flex-direction: row;
  align-items: center;
  color: #111111;
  margin-bottom: 8px;
}
.title span {
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 8px;
}
.title img {
  height: 20px;
  width: auto;
}

.title.rightPanel {
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.4rem;
  font-weight: bold;
  color: #111111;
  padding-left: 12px;
}
.title.rightPanel:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 24px;
  background: #d90e7b;
}

.title.page {
  height: 64px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.4rem;
  color: #111111;
  padding-left: 12px;
  font-weight: bold;
}
.title.page:before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 4px;
  height: 24px;
  background: #d90e7b;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox input[type=checkbox]:checked + .checkmark::before {
  content: "✔";
  display: block;
  position: absolute;
  top: 0;
  left: 2px;
  color: #e51d88;
  font-weight: bold;
}

.tableHeader {
  display: grid;
  font-size: 1.4rem;
  font-weight: bold;
  color: #111111;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #fafafa;
}
.tableHeader span {
  text-align: center;
}

.tableHeader.homeAnnouncement {
  grid-template-columns: 104px 88px 1fr;
  align-items: center;
  height: 48px;
}

.tableHeader.homeAnnouncement.checkbox {
  grid-template-columns: 32px 104px 88px 1fr;
}

.tableHeader.homeForum {
  grid-template-columns: 104px 88px 1fr 88px;
  align-items: center;
  height: 48px;
}

.tableList {
  display: grid;
  font-size: 1.5rem;
  color: #111111;
  border-bottom: 1px solid #ececec;
}
.tableList span {
  text-align: center;
  padding: 0 12px;
}
.tableList span:first-child {
  font-size: 1.2rem;
}
.tableList:hover {
  cursor: pointer;
  background: #fafafa;
}

.tableList.homeAnnouncement {
  grid-template-columns: 104px 88px 1fr;
  align-items: center;
  height: 64px;
}
.tableList.homeAnnouncement span {
  padding: 0 4px;
}
.tableList.homeAnnouncement span:nth-child(1) {
  color: #969696;
}
.tableList.homeAnnouncement span:nth-child(3) {
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.tableList.homeAnnouncement.checkbox {
  grid-template-columns: 32px 104px 88px 1fr;
}
.tableList.homeAnnouncement.checkbox span:last-child {
  text-align: left;
}
.tableList.homeAnnouncement.checkbox span:nth-child(2) {
  font-size: 1.2rem;
  color: #969696;
}
.tableList.homeAnnouncement.checkbox span:nth-child(3) {
  text-align: center;
}
.tableList.homeAnnouncement.checkbox label {
  justify-self: center;
}

.tableList.homeForum {
  grid-template-columns: 104px 88px 1fr 88px;
  align-items: center;
  height: 64px;
}
.tableList.homeForum span:nth-child(1) {
  color: #969696;
}
.tableList.homeForum span:nth-child(3) {
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.buttonWrapper {
  width: 100%;
  height: 64px;
}
.buttonWrapper a {
  color: #e51d88;
  font-size: 1.4rem;
  text-decoration: unset;
  font-weight: bold;
}
.buttonWrapper a:hover {
  color: #d90e7b;
}

.button {
  width: -moz-max-content;
  width: max-content;
  height: 32px;
  border-radius: 50px;
  padding: 0 16px;
  background: #e51d88;
  font-size: 1.4rem;
  color: white;
}
.button:hover {
  cursor: pointer;
  background: #d90e7b;
}

.button.solid {
  background: white;
  border: 1px solid #dadada;
}
.button.solid:hover {
  background: #fafafa;
}
.button.solid svg path {
  fill: #e51d88;
}
.button.solid span {
  color: #e51d88;
}

.bannerWrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .bannerWrapper {
    width: 100%;
  }
}

.banner {
  width: 300px;
  height: 120px;
  display: block;
  border-radius: 4px;
  transition: filter 0.5s;
  filter: brightness(0.9);
}
@media (max-width: 768px) {
  .banner {
    width: 100%;
  }
}
.banner:hover {
  cursor: pointer;
  filter: brightness(1);
}

.bannerTextWrapper {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
.bannerTextWrapper span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111111;
}
.bannerTextWrapper span:nth-child(2) {
  font-size: 1.2rem;
  color: #969696;
}

.banner.img1 {
  background: url(../images/banner/banner01.png) no-repeat center/cover;
}

.banner.img2 {
  background: url(../images/banner/banner02.jpg) no-repeat center/cover;
}

.banner.img3 {
  background: url(../images/banner/banner03.png) no-repeat center/cover;
}

.banner.img4 {
  background: url(../images/banner/banner04.png) no-repeat center/cover;
}

.banner.img5 {
  background: url(../images/banner/banner05.png) no-repeat center/cover;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.searchWrapper .saerchButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.searchWrapper .searchTools {
  display: grid;
  grid-template-columns: 1fr repeat(2, 184px) min-content;
  grid-gap: 8px;
  height: 56px;
  align-items: center;
}
.searchWrapper .searchTools input {
  width: calc(100% - 48px);
  border: 1px solid #dadada;
  border-radius: 4px;
  height: 24px;
  background: #fafafa;
  font-size: 1.4rem;
  color: #111111;
  padding: 8px 16px 8px 32px;
}
.searchWrapper .searchTools input::-moz-placeholder {
  color: #adadad;
}
.searchWrapper .searchTools input::placeholder {
  color: #adadad;
}
.searchWrapper .searchTools input:focus {
  outline: none;
  color: #111111;
}
.searchWrapper .searchTools .inputIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.searchWrapper .searchTools .inputIcon svg path {
  fill: #e51d88;
}
.searchWrapper .searchTools .switchIcon {
  position: absolute;
  right: 4px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}
.searchWrapper .searchTools .switchIcon svg {
  width: 12px;
  height: 12px;
  margin: 0;
}
.searchWrapper .title {
  height: 48px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: #111111;
  padding-left: 12px;
  margin: 0;
}
.searchWrapper .title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 24px;
  background: #d90e7b;
}
.searchWrapper svg {
  margin-right: 4px;
}
.searchWrapper svg path {
  fill: white;
}
.searchWrapper .verticalLine {
  width: 1px;
  height: 40px;
  margin: 0 8px;
  background: #ececec;
}
.searchWrapper .switchIcon {
  width: 40px;
  height: 40px;
}
.searchWrapper .switchIcon svg path {
  fill: #e51d88;
}
.searchWrapper .switchIcon.active svg {
  transform: rotate(180deg);
}

.footer {
  width: 100%;
  height: 172px;
  background-color: #fafafa;
  border: 1px solid #dadada;
}
.footer .footerTextWrapper {
  color: #969696;
  font-size: 1.4rem;
}
.footer .footerTextWrapper span {
  margin-right: 16px;
}
.footer .footerTextWrapper span:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .footer .footerTextWrapper.flexRow {
    flex-direction: column;
    gap: 8px;
  }
}

.h3type {
  border-left: 4px solid #d90e7b;
  padding-left: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 20px */
}

.check {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #969696;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check:checked {
  background: #e51d88;
}

.login {
  margin: 0 auto;
  margin-top: 49px;
  margin-bottom: 57px;
  border-radius: 8px;
  background: #fff;
  /* shadow 1 */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  width: 33%;
  padding: 32px 24px 88px 24px;
}
.login h3 {
  font-weight: 700;
}
.login .icon {
  position: absolute;
  top: 18px;
  left: 5px;
}
.login input {
  width: 85%;
  border-radius: 4px;
  border: 1px solid #ececec;
  background: #f0f0f0;
  color: #adadad;
  font-size: 14px;
  padding: 8px 8px 8px 32px;
  margin-top: 16px;
}
.login button {
  position: absolute;
  right: 36px;
  bottom: 32px;
  margin-top: 16px;
  padding: 13px 38px 13px 38px;
  border: none;
  border-radius: 4px;
  background: #ff468f;
  font-size: 14px;
  color: #fff;
}

@media (width <= 768px) {
  .login {
    width: 50%;
  }
}
@media (width <= 420px) {
  .login {
    width: 70%;
  }
  .login button {
    right: 18px;
  }
}
.userPage .section1 {
  margin: 8px 0px 16px 0px;
}
.userPage .section1_main {
  display: flex;
}
.userPage .avatar {
  padding: 16px 24px 16px 24px;
  border-right: 1px solid #ececec;
}
.userPage .avatar img {
  width: 104px;
  height: 104px;
  margin-bottom: 8px;
}
.userPage .prettier-input input {
  display: none;
}
.userPage .prettier-input div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 20px;
  font-size: 12px;
  color: #e51d88;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #dadada;
}
.userPage .prettier-input div:hover {
  background-color: #f3cee9;
}
.userPage .prettier-input img {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 15px;
}
.userPage .pwd_change {
  display: inline-block;
  margin-left: 24px;
  margin-right: 32px;
  width: 100%;
}
.userPage .pwd_change label {
  font-size: 14px;
  font-weight: 700;
}
.userPage .pwd_change input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ececec;
  background: #f0f0f0;
  padding: 14px 8px 14px 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.userPage .pwd_change .btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.userPage .pwd_change .btn button {
  border-radius: 50px;
  background: #e51d88;
  border: none;
  padding: 10px 32px 10px 32px;
  color: #fff;
  justify-content: center;
}
.userPage .pwd_change .btn button:hover {
  transform: scale(1.1);
}
.userPage .section2 {
  background: #f9f9f9;
}
.userPage .section2_top,
.userPage .section3_top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.userPage .repairBtn,
.userPage .postBtn {
  margin-bottom: 16px;
}
.userPage .repairBtn .Collapse,
.userPage .postBtn .Collapse {
  border: none;
  background: #fff;
}
.userPage .section2_main,
.userPage .section3_main {
  padding-bottom: 48px;
  overflow-x: auto;
}
.userPage .section2_main table,
.userPage .section3_main table {
  width: 100%;
}
.userPage .section2_main table th,
.userPage .section3_main table th {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
}
.userPage .section2_main table td,
.userPage .section3_main table td {
  text-align: center;
  padding: 14px 16px 14px 16px;
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Noto Sans TC;
  font-size: 12px;
}
.userPage .section2_main table tr:nth-child(1),
.userPage .section3_main table tr:nth-child(1) {
  background-color: #f9f9f9;
}
.userPage .section2_main table tr:nth-child(2n),
.userPage .section3_main table tr:nth-child(2n) {
  background-color: #fff;
}
.userPage .section3_main table tr:nth-child(1) {
  background-color: #fff;
}
.userPage .section3_main table tr:nth-child(2n) {
  background-color: #f9f9f9;
}

.btn_new {
  position: relative;
  color: #fff;
  border-radius: 50px;
  padding: 10px 8px 10px 28px;
  background: #e51d88;
  border: none;
}

.btn_delete {
  color: #e51d88;
  border: 1px solid #dadada;
  background: #fff;
  position: relative;
  padding: 10px 8px 10px 28px;
  border-radius: 50px;
}

.btn_icon {
  position: absolute;
  left: 10px;
  top: 8px;
}

@media (width <= 560px) {
  .userPage .section1_main {
    display: block;
  }
  .userPage .avatar {
    padding: 16px 24px 16px 24px;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
  }
  .userPage .avatar img {
    width: 104px;
    height: 104px;
    margin-bottom: 8px;
  }
  .userPage .prettier-input input {
    display: none;
  }
  .userPage .prettier-input div {
    width: 63%;
  }
  .userPage .prettier-input img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 15px;
  }
  .userPage .pwd_change {
    width: 80%;
  }
}
@media (width <= 435px) {
  .userPage .avatar {
    padding: 16px 24px 16px 24px;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
  }
  .userPage .avatar img {
    width: 104px;
    height: 104px;
    margin-bottom: 8px;
  }
  .userPage .prettier-input input {
    display: none;
  }
  .userPage .prettier-input div {
    width: 50%;
  }
  .userPage .prettier-input img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 10px;
  }
  .userPage .section1,
  .userPage .section2,
  .userPage .section3 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
  }
  .userPage .section2_top,
  .userPage .section3_top {
    display: block;
  }
}
.Organization .top {
  display: flex;
  justify-content: space-between;
}
.Organization .top h2 {
  display: flex;
  font-size: 20px;
  border-left: 4px solid #d90e7b;
  padding-left: 8px;
  margin-bottom: 20px;
  font-weight: 700;
  align-items: end;
}
.Organization .top .selection {
  margin-top: 20px;
}
.Organization .top .selection img {
  position: absolute;
  top: 10px;
  left: 10px;
}
.Organization .top select {
  width: 184px;
  height: 40px;
  font-size: 16px;
  padding-left: 36px;
  border: none;
  background-color: #f0f0f0;
}
.Organization .top select option {
  padding: 10px 0px 9px 0px;
}
.Organization .boxes {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 120px;
  text-align: center;
}
.Organization .boxes div {
  border-bottom: 1px solid #adadad;
  margin-bottom: 32px;
}
.Organization .boxes div h3 {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}
.Organization .boxes div h4 {
  color: #adadad;
  font-size: 12px;
}
@media (420px <= width <= 768px) {
  .Organization .top {
    display: block;
  }
  .Organization .boxes {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
  }
}
@media (width < 420px) {
  .Organization .top {
    display: block;
  }
  .Organization .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}

.backstage h3 {
  margin-top: 28px;
  margin-bottom: 20px;
}
.backstage .buildings .building_button {
  text-decoration: none;
  background: #fff;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #969696;
  padding: 13px 32px 13px 32px;
}
.backstage .buildings .building_button:link {
  color: #969696;
}
.backstage .buildings .building_button:hover {
  border-bottom: 2px solid #e51d88;
}
.backstage .buildings .building_button:visited {
  color: #e51d88;
  border-bottom: 2px solid #e51d88;
}
.backstage .permissionControl {
  font-size: 14px;
  font-weight: 500;
}
.backstage .permissionControl th,
.backstage .permissionControl td {
  padding: 13px 30px 13px 30px;
}
.backstage .permissionControl .switch {
  position: relative;
  width: 80px;
  height: 30px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #f0f0f0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.backstage .permissionControl .switch:checked {
  background-color: #e51d88;
}
.backstage .permissionControl .switch::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #dadada;
}
.backstage .permissionControl .switch:checked::before {
  left: 50px;
}

@media (width >= 489px) {
  .building_button {
    visibility: visible;
  }
  .building_select {
    visibility: hidden;
  }
}
@media (width <= 489px) {
  .building_button {
    display: none;
  }
  .building_select {
    visibility: visible;
    padding: 13px 32px 13px 32px;
    font-size: 14px;
    color: #111111;
    background-color: #fcedf4;
    border: none;
  }
  .backstage .permissionControl th,
  .backstage .permissionControl td {
    padding: 13px 20px 13px 10px;
  }
}/*# sourceMappingURL=style.css.map */